/*-----------------------------------------------*\
 RD Case Studies -- Top banner
/*-----------------------------------------------*/

.rd-case-banner
  position: relative
  height: 500px
  @include gradient-horizontal(rgba($banner-background, 1), rgba($banner-background, .84), 0%, 70%)

  .rd-case-banner-img
    position: absolute
    right: 0
    top: 0
    left: 0
    overflow: hidden
    opacity: .24
    
  .container
    text-align: center
    position: relative
    z-index: 999

    h1
      @include font-size(22px)
      color: white
      text-transform: uppercase

    h2
      @include font-size(32px)
      font-family: $rd-font2
      color: white
      line-height: 1.5em
      font-weight: 300

.rd-case-banner-message
  padding-top: 130px
