/*-----------------------------------------------*\
 RD Case Studies -- Base settings
/*-----------------------------------------------*/

*
  box-sizing: border-box
  list-style: none
  list-style-type: none

html, body
  margin: 0
  padding: 0
  height: 100%
  text-rendering: optimizeLegibility
  font-smoothing: antialiased
  text-rendering: optimizeLegibility

body
  font-family: $rd-font2
  line-height: 1.8em
  letter-spacing: .3px
  text-align: justify
  color: $rd-font-color
  background: $rd-body-background
  overflow-x: hidden

h1,
h2,
h3,
h4,
h5,
h6
  font-family: $rd-font1
  line-height: 1.5em
  letter-spacing: .4px
