/*---------------------------------------------------------*\
 RD Case Studies -- Variables like fonts, colors...
/*---------------------------------------------------------*/

// Fonts
$rd-font1: 'Montserrat', sans-serif
$rd-font2: 'Roboto', Georgia, serif

// Colors
$rd-body-background: rgba(255, 255, 255, 1)
$rd-font-color: rgba(0, 0, 0, .94)
// $banner-background: rgba(200, 160, 45, 1)
$banner-background: rgba(26, 35, 126, 1)
$feature-call-background: rgba(33, 33, 33, 1)
$call-action-color: rgba(100, 181, 246, 1)
